body {
text-align: center;
background-color: lavender;
}

span {
  margin: 20px;
}

#quiz {
    font-size: large;
}

.button {
  background-color: plum;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.suggestion1 {
  display: none;
}

.suggestion2 {
  display: none;
}

.suggestion3 {
  display: none;
}

.error {
  display: none;
}