body {
text-align: center;
background-color: lavender;
}

#quiz {
    font-size: large;
}

#suggestion1 {
  display: none;
}

#suggestion2 {
  display: none;
}

#suggestion3 {
  display: none;
}

#error {
  display: none;
}